<!DOCTYPE html>
<html
  lang="es"
  class="light-style layout-menu-fixed"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="../assets/"
  data-template="vertical-menu-template-free">
  <head>
    {% include 'public/includes/head.html' %}
    <!---->
    {% block customCSS %} {% endblock %}
  </head>
  <body>
    {% include 'public/includes/pre_loader.html' %}
    <!---->
    {% include 'public/includes/navbar.html' %}
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        {% include 'public/includes/menu_sidebar.html' %}
        <div class="layout-page">
          <div class="content-wrapper">
            <div class="container-xxl flex-grow-1 container-p-y">
              {% include 'public/includes/messages.html' %}
              <!---->
              {% block body %}
              <!--fin del bloque-->
              {% endblock %}
            </div>

            <div class="content-backdrop fade"></div>
          </div>
        </div>
      </div>

      <div class="layout-overlay layout-menu-toggle"></div>
    </div>

    {% include 'public/includes/js.html' %}
    <!--Custom JS-->
    {% block customJS %} {% endblock %}
  </body>
</html>
