{% extends 'public/cpanel/base_cpanel.html' %}
<!--Cambiando el title-->
{% block title %}Dugotex | Perfil{% endblock %}
<!--Inicio del block-->
{% block body %}

<div class="card" style="border-radius: 0px !important">
  <div class="row justify-content-center mb-2">
    <div class="col-md-12">
      <h3 class="text-center mt-5 mb-3">INFORMACIÓN TIENDA VS VPN</h3>
      <hr />
    </div>
  </div>

  <div
    class="row justify-content-center mb-2"
    style="margin-right: calc(0 * var(--bs-gutter-x))">
    <div class="col-md-6">
      <form class="form-horizontal mx-auto" action="/">
        <div class="card-body">
          <div class="mb-3">
            <label for="name_surname" class="form-label">Usuario</label>
            <input
              type="text"
              name="name_surname"
              value="{{ dataLogin.name_surname}}"
              class="form-control"
              required />
          </div>
          <div class="mb-3">
            <label for="email_user" class="form-label">Email</label>
            <input
              class="form-control"
              type="email"
              name="email_user"
              value="{{ dataLogin.email_user}}"
              readonly />
          </div>
          <div class="mb-3">
            <label for="pass_actual" class="form-label">Clave Actual</label>
            <input
              type="password"
              name="pass_actual"
              class="form-control"
              required />
          </div>
          <div class="mb-3 form-password-toggle">
            <label class="form-label" for="pass_user">Nueva Clave</label>
            <div class="input-group input-group-merge">
              <input
                type="password"
                class="form-control"
                name="pass_user"
                id="pass_user"
                placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                aria-describedby="password"
                required />
              <span class="input-group-text cursor-pointer">
                <i class="bx bx-hide"></i>
              </span>
            </div>
          </div>
        </div>
        <div class="mb-3 text-center">
          <button type="submit" class="btn rounded-pill btn-primary">
            Actualizar mis datos
          </button>
        </div>
      </form>
    </div>
    <div class="col-md-6">
      <div class="table-responsive text-nowrap">
        <table class="table table-borderless table-hover mt-5">
          <thead>
            <tr style="background-color: hsl(212, 15%, 48%)">
              <th class="colorTheadTrTh">#</th>
              <th class="colorTheadTrTh">TIENDA</th>
              <th class="colorTheadTrTh">CODE</th>
              <th class="colorTheadTrTh">VPN</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>--</td>
              <td>--</td>
              <td>--</td>
              <td>--</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
