.mini-notification {
  top: 55px;
  display: none;
  position: fixed;
  cursor: pointer;
  width: 100%;
  background: #04bb78;
  z-index: 9999;
  -moz-box-shadow: 0 0em 0.5em rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0em 0.5em rgba(0, 0, 0, 0.3);
  box-shadow: 0 0em 0.5em rgba(0, 0, 0, 0.3);
}
.mini-notification strong {
  color: #cccccc !important;
  font-size: 25px;
  font-weight: 900;
}

.mini-notification p {
  color: #fff !important;
  font-size: 15px;
  text-align: center;
  font-weight: 900;
  padding: 20px 5px 2px 5px;
}
.mini-notification span {
  color: #444;
  font-size: 20px;
}
