{% extends 'public/tienda/base_tienda.html' %}
<!--Body-->
{% block body %}
<!--Validando-->
{% if (infoDetalles) %}

<h3>
  <a
    href="/"
    data-bs-toggle="tooltip"
    data-bs-offset="0,4"
    data-bs-placement="top"
    data-bs-html="true"
    title="volver">
    <i class="bi bi-arrow-left-circle"></i>
  </a>
  DETALLES DE LA CONSIGNACIÓN
  <hr />
</h3>
<p class="form-label" style="border-bottom: 1px solid #cecece">
  Fecha Consignación Banco:
  <strong class="font_sise_17"
    >{{ infoDetalles.fecha_consignacion_banco }}</strong
  >
</p>
<p class="form-label" style="border-bottom: 1px solid #cecece">
  Valor consignación:
  <strong class="font_sise_17">
    $ {{ '{:,.2f}'.format(infoDetalles.total_valor_venta).replace(',', '.')}}
  </strong>
</p>
<p class="form-label">Nota consignación:</p>
<p>{{ infoDetalles.nota_consignacion }}</p>
<hr />
<!--Validando si esta consignación pertenece a más de 1 dia-->
{% if consignacionGrupales|length > 0 %}

<!---->
<div class="table-responsive mt-5">
  <table table-hover class="table table-striped table-bordered" cellspacing="0">
    <thead>
      <tr>
        <th>Fecha día de la venta</th>
        <th>Valor de la venta</th>
      </tr>
    </thead>
    <tbody>
      {% for consig in consignacionGrupales %}
      <tr>
        <td>{{ consig.dia_venta}}</td>
        <td>$ {{ '{:,.2f}'.format(consig.valor_venta).replace(',', '.')}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<!---->
{% endif %}
<p class="form-label">Archivo consignación</p>
{% set urlFile = '../static/' %} {% if(infoDetalles.url_archivo) %}

<a
  href="{{ urlFile }}{{ infoDetalles.url_archivo }}"
  target="_blank"
  title="Ver en detalle">
  <img
    class="img-fluid card-img-top"
    src="{{ urlFile }}{{ infoDetalles.url_archivo }}"
    style="max-width: 700px; width: 100%"
    alt="foto consignacion"
    title="Ver en detalle" />
</a>

{% else %}
<h2 class="text-center">Noy hay archivos adjuntos</h2>
{% endif %} {% else %}

<h2 class="text-center">No existe la consignación 😭</h2>

{% endif %} {% endblock %}
