<form
  name="formProcesarConsignacionDiaria"
  id="formProcesarConsignacionDiaria"
  action="/procesar-consignacion-diaria"
  method="POST"
  autocomplete="off"
  enctype="multipart/form-data">
  <input
    type="text"
    name="code_tienda"
    value="{{ informacion_tienda[0] }}"
    hidden />
  <input
    type="text"
    name="nombre_tienda"
    value="{{ informacion_tienda[1] }}"
    hidden />
  <input
    type="text"
    name="ip_consignacion"
    value="{{ informacion_tienda[2] }}"
    hidden />
  <div class="card-body">
    <div class="form-group row" id="capaConsignacionDiaria">
      <div class="col-md-auto mb-4">
        <label
          data-toggle="tooltip"
          data-placement="top"
          title="Fecha de depósito en el banco"
          for="fecha_consignacion_banco"
          class="form-label">
          Fecha consignación banco
        </label>
        <input
          type="text"
          name="fecha_consignacion_banco"
          id="fecha_consignacion_banco_datepicker"
          class="form-control"
          required="true"
          readonly />
      </div>
      <div class="col-md-3 mb-3">
        <label for="valor_consignacion_diaria" class="form-label">
          Valor consignación
        </label>
        <input
          type="text"
          class="form-control"
          name="valor_consignacion[]"
          id="valor_consignacion_diaria"
          required />
      </div>
      <div class="col-md-auto mb-3">
        <span id="cuerpo_datepicker">
          <label
            data-toggle="tooltip"
            data-placement="top"
            title="Fecha a la cuál pertenece la venta"
            for="dia_de_la_venta"
            class="form-label">
            Día de la venta
          </label>
          <input
            type="text"
            name="dia_de_la_venta[]"
            id="dia_de_la_venta_datepicker"
            class="form-control"
            required="true"
            readonly
            style="width: 80%" />
        </span>
        <span id="volver_datepicker" style="line-height: 6; display: none">
          <button type="button" class="btn btn-info">
            <i class="bi bi-arrow-left"></i> volver
          </button>
        </span>
      </div>
      <div class="col-md-auto mt-4 mb-3">
        <button
          id="btnAddConsig"
          type="button"
          onclick="agregarMasConsignaciones();"
          class="btn btn-primary">
          + Agregar consignación con más de 1 día
        </button>
      </div>
    </div>

    <span id="resultCreatedMore"></span>

    <div class="mb-3">
      <label for="nota_consignacion" class="form-label">
        Nota de la consignación
      </label>
      <textarea
        class="form-control"
        name="nota_consignacion"
        rows="3"></textarea>
    </div>

    <div class="form-group row">
      <div class="col-md-6 mb-3">
        <label for="exampleFormControlInput1" class="form-label">
          Seleccione el archivo
          <strong>(Formatos permitidos JPG, PNG máximo 8 MB)</strong>
        </label>
        <br />
        <label
          for="archivo"
          class="btn btn-info btn-lg btn-block me-2 mb-4"
          tabindex="0">
          <span class="d-none d-sm-block">
            <i class="bi bi-card-image"></i> Cargar archivo
          </span>
          <input
            type="file"
            name="archivo"
            id="archivo"
            hidden
            multiple
            accept="image/*" />
        </label>
      </div>
      <div class="col-md-6 mb-3">
        <!-- The container for image previews -->
        <div id="previews-container"></div>
      </div>
      <div
        class="mensaje alert alert-danger"
        role="alert"
        style="display: none"></div>
    </div>
    <div
      class="mt-2 mt-5"
      style="display: flex; text-align: center; justify-content: center">
      <button
        type="submit"
        class="btn btn-primary col-lg-12 mx-auto btn-lg"
        id="btn_send_consig"
        style="background-color: #08b324; border-color: #08b324">
        Enviar consignación
        <i class="bi bi-arrow-right-circle"></i>
      </button>
    </div>
  </div>
</form>
