{% if resultFiltro|length > 0 %}
<!--Recorriendo consignaciones-->
{% for consignaciones in resultFiltro %}
<tr
  data-bs-toggle="tooltip"
  data-bs-offset="0,4"
  data-bs-placement="top"
  data-bs-html="true"
  title="<span>Leer consignación</span>"
  style="color: #333 !important"
  id="filaIdConsignacion_{{ consignaciones.id }}"
  data-id="{{ consignaciones.id }}"
  class="{% if(consignaciones.estatus_leido == 0) %}noLeido{% else %}{% endif %}">
  <td width="2">
    {% if(consignaciones.estatus_leido == 1) %}
    <input
      class="form-check-input checkbox borderCheckbox"
      type="checkbox"
      onclick="selectCheckbox(event)"
      name="checkbox_consignacion[]"
      value="{{ consignaciones.id }}" />
    {% else %}
    <i
      id="{{ consignaciones.id }}"
      class="bi bi-arrow-right"
      style="padding: 0px 40px 0px 5px"></i>
    {% endif %}
  </td>
  <td>{{ consignaciones.nombre_tienda }}</td>
  <td>
    {{ ' '.join(consignaciones.nota_consignacion.split()[:10]) + " ..." if
    consignaciones.nota_consignacion else "Sin nota" }}
  </td>
  <td class="text-center">{{ consignaciones.fecha_consignacion_banco }}</td>
  <td class="text-center">{{ consignaciones.dia_de_la_ventaBD}}</td>
  <td class="text-center">
    {% if(consignaciones.estatus_leido == 1) %}
    <i
      data-bs-toggle="tooltip"
      data-bs-offset="0,4"
      data-bs-placement="top"
      data-bs-html="true"
      title="<span>Consignación leida</span>"
      class="bi bi-check-all"
      style="color: green">
    </i>
    {% else %}
    <i
      data-bs-toggle="tooltip"
      data-bs-offset="0,4"
      data-bs-placement="top"
      data-bs-html="true"
      title="<span>Consignación no leida</span>"
      class="bi bi-check2"
      style="color: #fa5c7c; font-size: 18px">
    </i>
    {% endif %}
  </td>
</tr>
{% endfor %}

<!--No hay resultados-->
{% else %}
<tr>
  <td colspan="5">No hay resultados</td>
</tr>
{% endif %}
