{% extends 'public/cpanel/base_cpanel.html' %}
<!--Cambiando el title-->
{% block title %}Dugotex | Consignaciones{% endblock %}

<!---->
{% block customCSS %}
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/gijgo@1.9.6/css/gijgo.min.css" />
{% endblock %}
<!--Inicio del block-->
{% block body %}

<!--- Validando si existen consignaciones -->
{% if (miDiccionarioView.consignacionesTiendaCpanel) %}
<div id="respMsj"></div>
<div class="card content_consignaciones" style="border-radius: 0px !important">
  <div class="container mt-3 mb-3" style="width: 100% !important">
    <div class="row justify-content-end">
      <div class="col-md-2">
        <label for="filtroPorYear" class="form-label"> Año </label>
        <select
          id="filtroPorYear"
          name="filtroPorYear"
          onchange="filtraConsigPorYear()"
          class="form-select">
          {% for year in miDiccionarioView.yearConsignaciones %}
          <option value="{{ year.anio }}">{{ year.anio }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="col-md-2">
        <label for="defaultSelect" class="form-label">Mes</label>
        <select
          id="filtroPorMes_bandeja_entrada"
          name="filtroPorMes_bandeja_entrada"
          onchange="filtraConsigPorMes(this.value)"
          class="form-select">
          <option value="0">Seleccione</option>
          <option value="01">Enero</option>
          <option value="02">Febrero</option>
          <option value="03">Marzo</option>
          <option value="04">Abril</option>
          <option value="05">Mayo</option>
          <option value="06">Junio</option>
          <option value="07">Julio</option>
          <option value="08">Agosto</option>
          <option value="09">Septiembre</option>
          <option value="10">Octubre</option>
          <option value="11">Noviembre</option>
          <option value="12">Diciembre</option>
        </select>
      </div>

      <div class="col-md-2">
        <span>
          <label for="filtrarConsigBandEntrada" class="form-label">
            Fecha venta
          </label>
          <a id="borrar_filtro_fecha_bandeja_entrada" href="#">
            <i
              data-bs-toggle="tooltip"
              data-bs-offset="0,4"
              data-bs-placement="top"
              data-bs-html="true"
              title="<span>Borrar filtro</span>"
              class="bi bi-trash3"
              style="font-size: 18px; display: none"></i>
          </a>
          <input
            style="
              line-height: 25px !important;
              border: none !important;
              color: #444;
            "
            type="text"
            name="filtrarConsigBandEntrada"
            id="filtrarConsigBandEntrada"
            readonly
            class="form-control" />
        </span>
      </div>

      <div class="col-md-2 mt-4 capa_informe_general" style="display: none">
        <a id="informe_general" href="#">
          Descargar Informe
          <i
            class="bi bi-file-earmark-spreadsheet-fill"
            style="font-size: 25px">
          </i>
        </a>
      </div>
    </div>
  </div>

  <section id="respuestaFiltroMes">
    <div class="table-responsive text-nowrap">
      <table
        class="table table-borderless table-hover"
        id="tabla-consignaciones">
        <thead>
          <tr>
            <th colspan="5">
              <button
                onclick="procesarConsigLeidas()"
                id="my-button"
                type="submit"
                data-bs-toggle="tooltip"
                data-bs-offset="0,4"
                data-bs-placement="top"
                data-bs-html="true"
                title="<span>Mover a consignaciones procesadas</span>"
                class="btn btn-primary">
                <i class="bi bi-envelope-open-fill"></i>&nbsp; Mover a
                consignaciones procesadas
              </button>
            </th>
            <th style="text-align: center">
              <a
                onclick="refresh_bandeja_entrada()"
                href="#"
                data-bs-toggle="tooltip"
                data-bs-offset="0,4"
                data-bs-placement="top"
                data-bs-html="true"
                title="<span>Refrescar ahora</span>">
                Refrescar
                <i class="bi bi-arrow-repeat" style="font-size: 20px"></i>
              </a>
            </th>
          </tr>
          <tr style="background-color: #ddd">
            <th colspan="2" style="text-align: center">Tienda</th>
            <th>Nota</th>
            <th class="text-center">Fecha consignación banco</th>
            <th class="text-center">Fecha día de la venta</th>
            <th class="text-center">Estatus</th>
          </tr>
        </thead>
        <tbody>
          {% for consignaciones in miDiccionarioView.consignacionesTiendaCpanel
          %}
          <tr
            data-bs-toggle="tooltip"
            data-bs-offset="0,4"
            data-bs-placement="top"
            data-bs-html="true"
            title="<span>Leer consignación</span>"
            style="color: #333 !important"
            id="filaIdConsignacion_{{ consignaciones.id }}"
            data-id="{{ consignaciones.id }}"
            class="{% if(consignaciones.estatus_leido == 0) %}noLeido{% else %}{% endif %}">
            <td width="2">
              {% if(consignaciones.estatus_leido == 1) %}
              <input
                class="form-check-input checkbox borderCheckbox"
                type="checkbox"
                onclick="selectCheckbox(event)"
                name="checkbox_consignacion[]"
                value="{{ consignaciones.id }}" />
              {% else %}
              <i
                id="{{ consignaciones.id }}"
                class="bi bi-arrow-right"
                style="padding: 0px 40px 0px 5px"></i>
              {% endif %}
            </td>
            <td>{{ consignaciones.nombre_tienda }}</td>
            <td>
              {{ ' '.join(consignaciones.nota_consignacion.split()[:10]) + "
              ..." if consignaciones.nota_consignacion else "Sin nota" }}
            </td>
            <td class="text-center">
              {{ consignaciones.fecha_consignacion_banco}}
            </td>
            <td class="text-center">{{ consignaciones.dia_de_la_ventaBD}}</td>
            <td class="text-center">
              {% if(consignaciones.estatus_leido == 1) %}
              <i
                data-bs-toggle="tooltip"
                data-bs-offset="0,4"
                data-bs-placement="top"
                data-bs-html="true"
                title="<span>Consignación leida</span>"
                class="bi bi-check-all"
                style="color: green">
              </i>
              {% else %}
              <i
                data-bs-toggle="tooltip"
                data-bs-offset="0,4"
                data-bs-placement="top"
                data-bs-html="true"
                title="<span>Consignación no leida</span>"
                class="bi bi-check2"
                style="color: #fa5c7c; font-size: 18px">
              </i>
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="row justify-content-md-center mt-5 mb-4">
      <div class="col-md-auto">
        <button
          type="button"
          class="btn rounded-pill btn-primary btnCargarMas"
          onclick="cargarMas()">
          Cargar más consignaciones
        </button>
      </div>
    </div>
  </section>
</div>

<a href="#" class="scroll-top" style="display: none">
  <i
    class="bi bi-arrow-up-circle"
    style="
      color: #08b324;
      font-size: 40px;
      position: fixed;
      z-index: 1000;
      bottom: 1em;
      right: 1em;
    ">
  </i>
</a>
{% else %}
<div class="container mt-3 mb-3" style="width: 100% !important">
  <div class="row justify-content-md-center mb-2">
    <div class="col-12">
      <h2 class="text-center">No existe la consignación 😭</h2>
    </div>
  </div>
</div>
{% endif %}
<!--Fin del Block-->

{% endblock %}

<!--Script Custom-->
{% block customJS %}

<script src="https://cdn.jsdelivr.net/npm/gijgo@1.9.6/js/gijgo.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/gijgo@1.9.6/js/messages/messages.es-es.js"></script>

<script src="{{ url_for('static', filename ='js/filter_bandeja_entrada.js') }}"></script>
{% endblock %}
