{% extends 'public/cpanel/base_cpanel.html' %}
<!--Cambiando el title-->
{% block title %}Dugotex | Consignaciones leidas{% endblock %}

<!--Inicio del block-->
{% block body %}
<!--Incluyendo Modal--->
{% include 'public/cpanel/bandeja_entrada/modal_total_venta_recaudos_bonos.html'
%}

<!---->
{% if (detailsConsignment|length) %}
<div class="row justify-content-md-center mt-4">
  <div class="col-md-5 mb-3">
    <h3>
      <!--Validando desde donde se esta mirando la consignacion-->
      {% if(desde_bandeja == 'bandeja_entrada')%}
      <a
        href="{{ url_for('cpanelListConsignaciones') }}"
        data-bs-toggle="tooltip"
        data-bs-offset="0,4"
        data-bs-placement="top"
        data-bs-html="true"
        title="<span>volver</span>">
        <i class="bi bi-arrow-left-circle"></i>
      </a>
      {% else %}
      <a
        href="{{ url_for('cpanelListConsignacionesLeidas') }}"
        data-bs-toggle="tooltip"
        data-bs-offset="0,4"
        data-bs-placement="top"
        data-bs-html="true"
        title="<span>volver</span>">
        <i class="bi bi-arrow-left-circle"></i>
      </a>
      {% endif %} DETALLES DE LA CONSIGNACIÓN
      <hr />
    </h3>

    <h6 class="mayuscula">
      Tienda: <strong> {{ detailsConsignment.nombre_tienda}}</strong>
      <hr />
    </h6>
    <h6 class="mayuscula">
      Fecha consignación banco: {{ detailsConsignment.fecha_consignacion_banco}}
      <hr />
    </h6>
    {% if detalleConsignacionAnteriores|length == 1 %}
    <h6 class="mayuscula">
      Fecha día de la venta: {{ detailsConsignment.dia_venta}}
      <hr />
    </h6>
    {% endif %}
    <h6 class="mayuscula">
      Fecha registro: {{ detailsConsignment.fecha_registro }}
      <hr />
    </h6>
    <h6 class="mayuscula">
      Valor registrado:
      <strong>
        $ {{
        '{:,.0f}'.format(detailsConsignment.valor_consignacion).replace(',','.')}}
      </strong>
      <hr />
    </h6>
    <h6 class="mayuscula">Nota de la consignación:</h6>
    <p>{{ detailsConsignment.nota_consignacion }}</p>
    <hr />
  </div>

  <div
    class="col-md-7 mb-3"
    style="
      background-color: #fff;
      box-shadow: 0px 15px 60px rgba(62, 62, 62, 0.102) !important;
    ">
    <h3 class="text-center mt-3">
      DIFERENCIA POS VS CONSIGNACIÓN
      <hr />
    </h3>

    <div class="table-responsive">
      <table class="table table-striped" style="width: 100%">
        <tr class="text-center">
          <th>Fecha Venta</th>
          <th>Venta Pos</th>
          <th>Consig. Pos</th>
          <th>Consig. Tienda</th>
          <th>Diferencia</th>
        </tr>
        <tbody>
          {% for fecha, datos in data_final_pos_vs_BD.diferencias.items() %}
          <tr class="text-center">
            <td>{{ fecha }}</td>
            <td>
              {% if datos['ValorTotal']==0 %} sin datos {% else %}
              <a
                data-ValorVenta="$ {{ '{:,.0f}'.format(datos['ValorVenta']).replace(',','.') }}"
                data-ValorRecaudo="$ {{ '{:,.0f}'.format(datos['ValorRecaudo']).replace(',','.') }}"
                data-ValorBonos="$ {{ '{:,.0f}'.format(datos['ValorBonos']).replace(',','.') }}"
                title="Ver Detalles"
                data-bs-toggle="modal"
                data-bs-target="#modalCenter"
                href="#"
                class="ModalBonosRecaudos"
                style="text-decoration: underline">
                $ {{ '{:,.0f}'.format(datos['ValorTotal']|int).replace(',','.')
                }}
                <!---->
                {% endif %}
              </a>
            </td>
            <td>
              {% if datos['ValorDeposito']==0 %}
              <!---->
              sin datos {% else %} $ {{
              '{:,.0f}'.format(datos['ValorDeposito']|int).replace(',','.') }}
              <!---->
              {% endif %}
            </td>
            <td>
              $ {{ '{:,.0f}'.format(datos['valor_venta']|int).replace(',','.')
              }}
            </td>
            <td>
              {% if datos['diferencia']==1 %} sin datos
              <!---->
              {% elif datos['diferencia'] > 0 %}
              <!---->
              <span style="color: #08b324">
                $ {{ '{:,.0f}'.format(datos['diferencia']|int).replace(',','.')
                }}
              </span>
              {% else %}
              <span style="color: red">
                $ {{ '{:,.0f}'.format(datos['diferencia']|int).replace(',','.')
                }}
              </span>
              <!---->
              {% endif %}
            </td>
          </tr>
          <!---->
          {% endfor %}

          <!--TOTALES-->
          <tr class="text-center">
            <th>TOTALES:</th>
            <th>
              $ {{
              '{:,.0f}'.format(data_final_pos_vs_BD.resultados_totales['total_venta_pos']).replace(',','.')
              }}
            </th>
            <th>
              $ {{
              '{:,.0f}'.format(data_final_pos_vs_BD.resultados_totales['total_consig_pos']).replace(',','.')
              }}
            </th>
            <th>
              $ {{
              '{:,.0f}'.format(data_final_pos_vs_BD.resultados_totales['total_consig_tienda']).replace(',','.')
              }}
            </th>
            <th>
              $ {{
              '{:,.0f}'.format(data_final_pos_vs_BD.resultados_totales['total_diferencia']).replace(',','.')
              }}
            </th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

{% if(desde_bandeja == 'bandeja_entrada')%}
<div class="row justify-content-md-center">
  <div class="col-md-5"></div>
  <div class="col-md-5 mb-3">
    <a
      class="btn rounded-pill btn-primary mb-3"
      href="{{ url_for('moverConsignacionLeidaCpanel', idConsignacion = detailsConsignment.id ) }}">
      <i class="bi bi-file-earmark-minus-fill"></i>
      Mover a consignaciones procesadas
    </a>
    <a
      data-href="/ignorar-consignacion/{{detailsConsignment.id}}"
      id="ignorarConsignacionBtn"
      data-id="{{ detailsConsignment.id}}"
      href="#"
      class="btn rounded-pill btn-warning mb-3">
      <i class="bi bi-exclamation-triangle"></i> Ignorar consignación
    </a>
  </div>
</div>
{% endif %}

<div class="row justify-content-between">
  <div class="col-md-5 mb-5">
    <h5 style="display: flex; justify-content: space-around">
      <span>
        <a
          href="{{ url_for('downloadConsignmentFile', idFileBD = detailsConsignment.id ) }}"
          data-bs-toggle="tooltip"
          data-bs-offset="0,4"
          data-bs-placement="top"
          data-bs-html="true"
          title="<span>Descargar archivo</span>">
          DESCARGAR ADJUNTO
          <i class="bi bi-arrow-down-circle-fill"></i>
        </a>
      </span>
    </h5>

    {% set urlFile = '../static/' %}
    <!---->
    {% if(detailsConsignment.url_archivo) %}

    <a
      href="{{ urlFile }}{{ detailsConsignment.url_archivo }}"
      target="_blank"
      title="Ver en detalle">
      <img
        class="img-fluid card-img-top"
        src="{{ urlFile }}{{ detailsConsignment.url_archivo }}"
        style="max-width: 700px; width: 100%"
        alt="foto consignacion"
        title="Ver en detalle" />
    </a>
    {% else %}
    <h2 class="text-center">Noy hay archivos adjunto</h2>
    {% endif %}
  </div>
</div>

<!---->
{% else %}
<div class="container mt-3 mb-3" style="width: 100% !important">
  <div class="row justify-content-md-center mb-2">
    <div class="col-12">
      <h2 class="text-center">No existe la consignación</h2>
    </div>
  </div>
</div>
{% endif%}

<!--Fin del Block-->
{% endblock %}

<!---->

{% block customJS %}
<script>
  let modals = document.querySelectorAll(".ModalBonosRecaudos");
  modals.forEach((modal) => {
    modal.addEventListener("click", (event) => {
      event.preventDefault(); // Evita que el enlace se comporte como un enlace normal

      // Obtiene los valores de los atributos utilizando dataset
      let valorVenta = modal.dataset.valorventa;
      let valorRecaudo = modal.dataset.valorrecaudo;
      let valorBonos = modal.dataset.valorbonos;

      // Selecciona la tabla y el cuerpo de la tabla
      let table_recaudos_bonos = document.querySelector(".recaudos_bonos");
      let tbody = table_recaudos_bonos.querySelector("tbody");

      // Limpia el contenido actual de la tabla
      tbody.innerHTML = "";

      // Crea una nueva fila con los valores obtenidos y agrega la fila al cuerpo de la tabla
      let newRow = document.createElement("tr");
      newRow.innerHTML = `
        <td>${valorVenta}</td>
        <td>${valorRecaudo}</td>
        <td>${valorBonos}</td>
      `;
      tbody.appendChild(newRow);
    });
  });
</script>

{% endblock %}
