{% extends 'public/cpanel/base_cpanel.html' %}
<!--Cambiando el title-->
{% block title %}Dugotex | Consignaciones leidas{% endblock %}

<!--Inicio del block-->
{% block body %}
<!--Incluyendo Modal--->
{% include
'public/cpanel/modulo_consignaciones/modal_total_venta_recaudos_bonos.html' %}

<!---->
{% if (detailsConsignment|length) %}
<div class="row justify-content-md-center">
  <div class="col-md-5 mb-3">
    <h2>
      <!--Validando desde donde se esta mirando la consignacion-->
      {% if(desde_bandeja == 'bandeja_entrada')%}
      <a
        href="{{ url_for('cpanelListConsignaciones') }}"
        data-bs-toggle="tooltip"
        data-bs-offset="0,4"
        data-bs-placement="top"
        data-bs-html="true"
        title="<span>volver</span>">
        <i class="bi bi-arrow-left-circle"></i>
      </a>
      {% else %}
      <a
        href="{{ url_for('cpanelListConsignacionesLeidas') }}"
        data-bs-toggle="tooltip"
        data-bs-offset="0,4"
        data-bs-placement="top"
        data-bs-html="true"
        title="<span>volver</span>">
        <i class="bi bi-arrow-left-circle"></i>
      </a>
      {% endif %} DETALLES DE LA CONSIGNACIÓN
      <hr />
    </h2>

    <h6 class="mayuscula">
      Tienda: <strong> {{ detailsConsignment.nombre_tienda}}</strong>
      <hr />
    </h6>
    <h6 class="mayuscula">
      Fecha consignación banco: {{ detailsConsignment.fecha_consignacion_banco}}
      <hr />
    </h6>
    {% if detalleConsignacionAnteriores|length == 1 %}
    <h6 class="mayuscula">
      Fecha día de la venta: {{ detailsConsignment.dia_venta}}
      <hr />
    </h6>
    {% endif %}
    <h6 class="mayuscula">
      Fecha registro: {{ detailsConsignment.fecha_registro }}
      <hr />
    </h6>
    <h6 class="mayuscula">
      Valor registrado:
      <strong>
        $ {{
        '{:,.0f}'.format(detailsConsignment.valor_consignacion).replace(',','.')}}
      </strong>
      <hr />
    </h6>
    <h6 class="mayuscula">Nota de la consignación:</h6>
    <p>{{ detailsConsignment.nota_consignacion }}</p>
    <hr />
  </div>

  <div
    class="col-md-7 mb-3"
    style="
      background-color: #fff;
      box-shadow: 0px 15px 60px rgba(62, 62, 62, 0.102) !important;
    ">
    <h2 class="text-center mt-2">
      VALORES EN EL POS
      <hr />
    </h2>
    {% if respuestaBigData|length > 0 %}
    <div class="table-responsive">
      <table class="table table-striped" style="width: 100%">
        <tr>
          <th>Tienda</th>
          <th>Valor consignación</th>
          <th>Fecha consignación</th>
          <th>Valor Total</th>
          <th>Fecha</th>
        </tr>
        <tbody>
          {% set totalDiferencia = 0 %}
          <!---->
          {% for tiendaConsig in respuestaBigData %}
          <tr>
            <td style="font-size: 12px">{{ tiendaConsig.Tienda}}</td>
            <td>
              $
              {{'{:,.0f}'.format(tiendaConsig.ValorDeposito).replace(',','.')}}
            </td>
            <td>{{ tiendaConsig.FechaDeposito }}</td>
            <td>
              <a
                data-ValorVenta="$ {{ '{:,.0f}'.format(tiendaConsig.ValorVenta).replace(',','.') }}"
                data-ValorRecaudo="$ {{ '{:,.0f}'.format(tiendaConsig.ValorRecaudo).replace(',','.') }}"
                data-ValorBonos="$ {{ '{:,.0f}'.format(tiendaConsig.ValorBonos).replace(',','.') }}"
                title="Ver Detalles"
                data-bs-toggle="modal"
                data-bs-target="#modalCenter"
                href="#"
                id="ModalBonosRecaudos_{{tiendaConsig.IdDep}}"
                class="ModalBonosRecaudos"
                style="text-decoration: underline">
                $ {{'{:,.0f}'.format(tiendaConsig.ValorTotal).replace(',','.')}}
              </a>
            </td>
            <td>{{ tiendaConsig.FechaVenta }}</td>
          </tr>
          {% set totalDiferencia = totalDiferencia + tiendaConsig.ValorTotal|int
          %}
          <!---->
          {% endfor %}
        </tbody>
      </table>
      <section class="border" style="background-color: #f0f8ff">
        <h6 class="text-center mt-3">
          DIFERENCIA POS VS CONSIGNACIÓN
          <hr />
        </h6>
        <table class="table">
          <thead>
            <tr>
              <th>VALOR CONSIGNACIÓN</th>
              <th>VALOR VENTA POST</th>
              <th>DIFERENCIA</th>
              <th class="text-center">FECHA DIA DE LA VENTA</th>
            </tr>
          </thead>
          <tbody>
            {% for fecha, datos in diferencias.items() %}
            <tr>
              <td>
                $ {{ '{:,.0f}'.format(datos['valor_venta']|int).replace(',','.')
                }}
              </td>
              <td>
                $ {{ '{:,.0f}'.format(datos['ValorTotal']|int).replace(',','.')
                }}
              </td>
              <td>
                $ {{ '{:,.0f}'.format(datos['diferencia']|int).replace(',','.')
                }}
              </td>
              <td class="text-center">{{ fecha }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

        <!---->
        {% set total_valor_venta = respuestaBigData |
        sum(attribute='ValorTotal') %}
        <!---->
        {% set total_consignacion = detailsConsignment.valor_consignacion %}
        <!---->
        {% set diferencia = total_valor_venta - total_consignacion %}
        <!---->
        <br />
        <br />
        <table class="table" style="background-color: #fff">
          <tr>
            <th>
              TOTAL CONSIGNACIÓN:
              <span class="difference">
                $ {{ '{:,.0f}'.format(total_consignacion).replace(',','.') }}
              </span>
            </th>
          </tr>
          <tr>
            <th>
              TOTAL VALOR VENTA:
              <span class="difference">
                $ {{ '{:,.0f}'.format(total_valor_venta).replace(',','.') }}
              </span>
            </th>
          </tr>
          <tr>
            <th>
              DIFERENCIA TOTAL:<span class="difference">
                $ {{ '{:,.0f}'.format(diferencia).replace(',','.') }}
              </span>
            </th>
          </tr>
        </table>
      </section>
    </div>

    {% else %}
    <h4
      class="text-center"
      style="
        color: #ff4d2f;
        background: #ffc5bb;
        padding: 5px;
        border-radius: 5px;
        font-size: 16px;
      ">
      No hay información de la tienda
    </h4>
    {% endif %}
    <hr />
  </div>
</div>
<div class="row justify-content-between">
  <div class="col-md-5 mb-5">
    <h5 style="display: flex; justify-content: space-around">
      <span>
        <a
          href="{{ url_for('downloadConsignmentFile', idFileBD = detailsConsignment.id ) }}"
          data-bs-toggle="tooltip"
          data-bs-offset="0,4"
          data-bs-placement="top"
          data-bs-html="true"
          title="<span>Descargar archivo</span>">
          DESCARGAR ADJUNTO
          <i class="bi bi-arrow-down-circle-fill"></i>
        </a>
      </span>
    </h5>

    {% set urlFile = '../static/' %}
    <!---->
    {% if(detailsConsignment.url_archivo) %}

    <a
      href="{{ urlFile }}{{ detailsConsignment.url_archivo }}"
      target="_blank"
      title="Ver en detalle">
      <img
        class="img-fluid card-img-top"
        src="{{ urlFile }}{{ detailsConsignment.url_archivo }}"
        style="max-width: 700px; width: 100%"
        alt="foto consignacion"
        title="Ver en detalle" />
    </a>
    {% else %}
    <h2 class="text-center">Noy hay archivos adjunto</h2>
    {% endif %}
  </div>

  <!--Si existen consignaciones de pertenecen a dias anteriores con respectoa a la consignacion leida-->
  {% if detalleConsignacionAnteriores|length > 0 %}
  <div
    class="col-md-7 mb-3"
    style="
      background-color: #fff;
      box-shadow: 0px 15px 60px rgba(62, 62, 62, 0.102) !important;
    ">
    <h2 class="text-center mt-2">
      DETALLES
      <hr />
    </h2>
    <p
      style="
        background-color: aliceblue;
        text-align: justify;
        padding: 5px 10px;
      ">
      Esta consignación pertenece a varias fechas aquí podras observar tanto el
      valor como la fecha a la cual pertenece cada subconsignación.
    </p>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">N°</th>
          <th scope="col">Valor</th>
          <th scope="col">Día de la Venta</th>
        </tr>
      </thead>
      <tbody>
        {% set total = 0 %}
        <!---->
        {# --- #} {% for detalleBD in detalleConsignacionAnteriores %}
        <tr>
          <th>{{ loop.index }}</th>
          <td>
            $ {{ '{:,.0f}'.format(detalleBD.valor_venta|int).replace(',','.') }}
          </td>
          <td>{{ detalleBD.dia_venta }}</td>
        </tr>
        {% set total = total + detalleBD.valor_venta|int %}

        <!---->
        {% endfor %}
        <tr>
          <td colspan="1"></td>
          <td style="background: #e1b375; color: #333">
            <strong>Total</strong>
            <strong>
              $ {{ '{:,.0f}'.format(detalleConsignacionAnteriores |
              sum(attribute='valor_venta')).replace(',','.') }}
            </strong>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  {% endif %}
</div>

{% if(desde_bandeja == 'bandeja_entrada')%}
<div class="row justify-content-md-center mt-5 mb-4">
  <div class="col-4">
    <a
      class="btn rounded-pill btn-primary"
      href="{{ url_for('moverConsignacionLeidaCpanel', idConsignacion = detailsConsignment.id ) }}">
      <i class="bi bi-file-earmark-minus-fill"></i>
      Mover a consignaciones procesadas
    </a>
  </div>

  <div class="col-4">
    <a
      data-href="/ignorar-consignacion/{{detailsConsignment.id}}"
      id="ignorarConsignacionBtn"
      data-id="{{ detailsConsignment.id}}"
      href="#"
      class="btn rounded-pill btn-warning">
      <i class="bi bi-exclamation-triangle"></i> Ignorar consignación
    </a>
  </div>
</div>
{% endif %}

<!---->
{% else %}
<div class="container mt-3 mb-3" style="width: 100% !important">
  <div class="row justify-content-md-center mb-2">
    <div class="col-12">
      <h2 class="text-center">No existe la consignación</h2>
    </div>
  </div>
</div>
{% endif%}

<!--Fin del Block-->
{% endblock %}

<!---->

{% block customJS %}
<script>
  let modals = document.querySelectorAll(".ModalBonosRecaudos");
  modals.forEach((modal) => {
    modal.addEventListener("click", (event) => {
      event.preventDefault(); // Evita que el enlace se comporte como un enlace normal

      // Obtiene los valores de los atributos utilizando dataset
      let valorVenta = modal.dataset.valorventa;
      let valorRecaudo = modal.dataset.valorrecaudo;
      let valorBonos = modal.dataset.valorbonos;

      console.log("Valor de Venta:", valorVenta);
      console.log("Valor de Recaudo:", valorRecaudo);
      console.log("Valor de Bonos:", valorBonos);

      // Selecciona la tabla y el cuerpo de la tabla
      let table_recaudos_bonos = document.querySelector(".recaudos_bonos");
      let tbody = table_recaudos_bonos.querySelector("tbody");

      // Limpia el contenido actual de la tabla
      tbody.innerHTML = "";

      // Crea una nueva fila con los valores obtenidos y agrega la fila al cuerpo de la tabla
      let newRow = document.createElement("tr");
      newRow.innerHTML = `
        <td>${valorVenta}</td>
        <td>${valorRecaudo}</td>
        <td>${valorBonos}</td>
      `;
      tbody.appendChild(newRow);
    });
  });
</script>

{% endblock %}
