<script src="{{ url_for('static', filename ='assets/vendor/libs/jquery/jquery.js') }}"></script>
<script src="{{ url_for('static', filename ='assets/vendor/libs/popper/popper.js') }}"></script>
<script src="{{ url_for('static', filename ='assets/vendor/js/bootstrap.js') }}"></script>
<script src="{{ url_for('static', filename ='assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js') }}"></script>
<script src="{{ url_for('static', filename ='assets/vendor/js/menu.js') }}"></script>
<script src="{{ url_for('static', filename ='assets/js/main.js') }}"></script>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script src="{{ url_for('static', filename ='assets/customJS/home.js') }}"></script>
<script src="{{ url_for('static', filename ='assets/customJS/buscador.js') }}"></script>
