<div>
  {% with messages = get_flashed_messages(with_categories=true) %} {% if
  messages %}
  <!--Recorriendo los mensages, mas la categoria a la cual pertenecen-->
  {% for category, message in messages %}
  <!--si existe mensages con category =='success'-->
  {% if category =='success' %}
  <!-- mensage success-->
  <div class="alert alert-success alert-dismissible" role="alert">
    <strong>Felicitaciones</strong>, {{ message }}
  </div>

  {% elif category == 'error' %}
  <!--mensage error-->
  <div class="alert alert-danger alert-dismissible" role="alert">
    Uhs, {{ message }}
  </div>

  {% endif %} {% endfor %} {% endif %} {% endwith %}
</div>
