{% extends 'public/cpanel/base_cpanel.html' %}
<!--Cambiando el title-->
{% block title %}Dugotex | Consignaciones diarias{% endblock %} {% block
customCSS %}
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/gijgo@1.9.6/css/gijgo.min.css" />
{% endblock %}

<!--Inicio del block-->
{% block body %}

<div class="card" style="border-radius: 0px !important">
  <div class="container mt-3 mb-3" style="width: 100% !important">
    <div class="row justify-content-md-center mb-2">
      <div class="col">
        <!--Total de consignaciones-->
        <h4 class="text-center mt-4" style="text-transform: uppercase">
          <span>Resumen de consignaciones diarias</span>
        </h4>
      </div>
      <div class="col-2">
        <span>
          <label for="resumenFechaConsignacion" class="form-label">
            Día de la venta
          </label>
          <input
            style="
              line-height: 25px !important;
              border: none !important;
              color: #444;
            "
            type="text"
            name="resumenFechaConsignacion"
            id="resumenFechaConsignacion"
            readonly
            class="form-control" />
        </span>
      </div>
    </div>
    <hr />
  </div>

  <div class="row justify-content-md-center mb-2" id="respuesta_filtro_diario">
    <div class="col-md-6">
      <div class="table-responsive text-nowrap">
        <table
          class="table table-borderless table-hover"
          id="tabla-consig-diarias-recibidas">
          <thead>
            <tr>
              <th colspan="3" class="text-center" style="font-size: 15px">
                Consignaciones recibidas
              </th>
              <th style="text-align: center">
                <span> Total({{ consigRecibidasDiarias|length }}) </span>
                <a
                  id="linkDescargarConsigRecibidas"
                  data-bs-toggle="tooltip"
                  data-bs-offset="0,4"
                  data-bs-placement="right"
                  data-bs-html="true"
                  title="<span>Descargar</span>"
                  href="{{ url_for('reporteExcelBD', fecha='') }}">
                  <i
                    class="bi bi-file-earmark-spreadsheet-fill"
                    style="color: #209e62; font-size: 25px">
                  </i>
                </a>
              </th>
            </tr>
            <tr style="background-color: #697a8d">
              <th class="colorTheadTrTh">#</th>
              <th class="colorTheadTrTh">Tienda</th>
              <th class="colorTheadTrTh">Consignación</th>
              <th class="colorTheadTrTh">Fecha dia de la venta</th>
            </tr>
          </thead>
          <tbody>
            {% for consignaciones in consigRecibidasDiarias %}
            <tr
              data-bs-toggle="tooltip"
              data-bs-offset="0,4"
              data-bs-placement="top"
              data-bs-html="true"
              title="<span>Leer consignación</span>"
              style="color: #333 !important"
              id="filaIdConsignacion_{{ consignaciones.id }}"
              data-id="{{ consignaciones.id }}">
              <td>{{ loop.index }}</td>
              <td style="color: #08b324">{{ consignaciones.nombre_tienda }}</td>
              <td class="text-center">
                $ {{
                '{:,.0f}'.format(consignaciones.valor_consignacion).replace(',','.')}}
              </td>
              <td style="text-align: center">
                {{ consignaciones.dia_de_la_ventaBD }}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      {% if consigRecibidasDiarias|length == 0 %}
      <h4 class="text-center mt-5">
        No has recibido consignaciones el día de hoy
        <hr />
      </h4>
      {% endif %}
    </div>

    <!--Tiendas pendientes-->
    {% if consigPendienteDiarias is defined and consigPendienteDiarias|length >
    0 %}
    <div class="col-md-6">
      <div class="table-responsive text-nowrap mt-3">
        <table
          class="table table-borderless table-hover"
          id="tabla_consig_pendientes">
          <thead>
            <tr>
              <th colspan="2" style="font-size: 15px; text-align: center">
                Consignaciones Pendientes
                <i
                  class="bi bi-exclamation-triangle-fill"
                  style="color: #f92300"></i>
              </th>
              <th>
                <span> Total({{ consigPendienteDiarias|length }}) </span>
                <a
                  id="linkDescargarConsigPendientes"
                  data-bs-toggle="tooltip"
                  data-bs-offset="0,4"
                  data-bs-placement="right"
                  data-bs-html="true"
                  title="<span>Descargar</span>"
                  href="#">
                  <i
                    class="bi bi-file-earmark-spreadsheet-fill"
                    style="color: #209e62; font-size: 25px">
                  </i>
                </a>
              </th>
            </tr>
            <tr style="background-color: #697a8d">
              <th class="colorTheadTrTh">#</th>
              <th class="colorTheadTrTh">Tienda</th>
              <th class="colorTheadTrTh">Consignación</th>
            </tr>
          </thead>
          <tbody>
            {% for consigPendientes in consigPendienteDiarias %}
            <tr>
              <td>{{ loop.index }}</td>
              <td style="color: #f93010">{{ consigPendientes[2] }}</td>
              <td>
                <i
                  class="bi bi-exclamation-triangle-fill"
                  style="color: #f92300"></i>
                Pendiente
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    {% else %}
    <div class="col-12">
      <h2 class="text-center">Todas las tiendas ya han consignado.</h2>
    </div>
    {% endif %}
  </div>

  <!--Fin del Block-->
  {% endblock %}

  <!--Script Custom-->
  {% block customJS %}
  <script src="https://cdn.jsdelivr.net/npm/gijgo@1.9.6/js/gijgo.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/gijgo@1.9.6/js/messages/messages.es-es.js"></script>
  <script src="{{ url_for('static', filename ='js/filter_resumen_consignaciones.js') }}"></script>
  <script>
    addEventListener("DOMContentLoaded", (event) => {
      let linkDownloader = document.querySelector(
        "#linkDescargarConsigRecibidas"
      );
      linkDownloader.href =
        "/informe-excel-consignaciones-recibidas/" + fecha_anterior();
    });

    /*
     * Cambiar el atributo href de linkDescargarConsigPendientes
     */
    document.querySelector(
      "#linkDescargarConsigPendientes"
    ).href = `/informe-excel-consignaciones-pendientes/${fecha_anterior()}`;

    function fecha_anterior() {
      //Pasando la fecha por defecto en el value
      let fechaActual = new Date();
      let anio = fechaActual.getFullYear();
      let mes = ("0" + (fechaActual.getMonth() + 1)).slice(-2);
      let dia = ("0" + fechaActual.getDate()).slice(-2);
      let dia_anterior = parseInt(dia - 1);
      return `${anio}-${mes}-${dia_anterior}`;
    }

    function formatearDateBD(fechaString) {
      const fecha = new Date(fechaString);

      const anio = fecha.getFullYear();
      const mes = fecha.getMonth() + 1; // Los meses en JavaScript se cuentan desde 0, por lo que se le suma 1 al resultado
      const dia = fecha.getDate();
      console.log(anio, mes, dia);

      return `${anio}-${mes.toString().padStart(2, "0")}-${dia
        .toString()
        .padStart(2, "0")}`;
    }
  </script>
  {% endblock %}
</div>
