{% extends 'public/login/base_login.html' %}
<!---->
{% block title %}Crud con Python 🐍 | crear cuenta{% endblock %}
<!---->
{% block body %}

<div class="container-xxl">
  <div class="authentication-wrapper authentication-basic container-p-y">
    <div class="authentication-inner">
      <div class="card">
        <div class="card-body">
          <div class="app-brand justify-content-center">
            <span class="app-brand-logo">
              <img
                class="logo"
                src="{{ url_for('static', filename ='assets/img/logo.png') }}"
                alt="Logo" />
            </span>
          </div>

          <form
            class="mb-3"
            action="{{ url_for('cpanelResgisterUserBD') }}"
            method="POST">
            <div class="mb-3">
              <label for="name_surname" class="form-label">
                Nombre y apellido
              </label>
              <input
                type="text"
                class="form-control"
                name="name_surname"
                required
                autofocus />
            </div>
            <div class="mb-3">
              <label for="email_user" class="form-label">Email</label>
              <input
                type="email"
                class="form-control"
                name="email_user"
                required />
            </div>
            <div class="mb-3 form-password-toggle">
              <label class="form-label" for="pass_user">Clave</label>
              <div class="input-group input-group-merge">
                <input
                  type="password"
                  class="form-control"
                  name="pass_user"
                  id="pass_user"
                  placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                  aria-describedby="password"
                  required />
                <span class="input-group-text cursor-pointer">
                  <i class="bx bx-hide"></i>
                </span>
              </div>
            </div>
            <button class="btn btn-primary w-100">
              Crear cuenta
              <i class="bi bi-arrow-right-circle"></i>
            </button>
          </form>

          <div class="text-center">
            <a
              href="{{ url_for('inicio') }}"
              class="d-flex align-items-center justify-content-center">
              <i class="bx bx-chevron-left scaleX-n1-rtl bx-sm"></i>
              volver
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
