{% extends 'public/login/base_login.html' %}
<!---->
{% block title %}Crud con Python 🐍 | crear cuenta{% endblock %}
<!---->
{% block body %}

<div class="container-xxl">
  <div class="authentication-wrapper authentication-basic container-p-y">
    <div class="authentication-inner py-4">
      <div class="card">
        <div class="card-body">
          <div class="app-brand justify-content-center">
            <span class="app-brand-logo">
              <img
                class="logo"
                src="{{ url_for('static', filename ='assets/img/logo.png') }}"
                alt="Logo" />
            </span>
          </div>

          <form
            id="formAuthentication"
            class="mb-3"
            action="index.html"
            method="POST">
            <div class="mb-3">
              <label for="email_user" class="form-label">
                Escribe tu Email
              </label>
              <input
                type="text"
                class="form-control"
                name="email_user"
                required
                autofocus />
            </div>

            <button class="btn btn-primary w-100">
              Recuperar clave
              <i class="bi bi-arrow-right-circle"></i>
            </button>
          </form>
          <div class="text-center">
            <a
              href="{{ url_for('inicio') }}"
              class="d-flex align-items-center justify-content-center">
              <i class="bx bx-chevron-left scaleX-n1-rtl bx-sm"></i>
              volver
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
