{% extends 'public/login/base_login.html' %} {% block title %}Dugotex |
recuperar cuenta{% endblock %} {% block body %}

<div class="container-xxl">
  <div class="authentication-wrapper authentication-basic container-p-y">
    <div class="authentication-inner py-4">
      <!-- Forgot Password -->
      <div class="card">
        <div class="card-body">
          <!-- Logo -->
          <div class="app-brand justify-content-center">
            <a href="index.html" class="app-brand-link gap-2">
              <span class="app-brand-logo demo">
                <img
                  style="display: flex"
                  src="{{ url_for('static', filename ='assets/img/logo.jpg') }}"
                  alt="Logo" />
              </span>
            </a>
          </div>

          <form
            id="formAuthentication"
            class="mb-3"
            action="index.html"
            method="POST">
            <div class="mb-3">
              <label for="email_user" class="form-label"
                >Escribe tu Email</label
              >
              <input
                type="text"
                class="form-control"
                name="email_user"
                autofocus />
            </div>
            <!----
            <button class="btn btn-primary d-grid w-100">
              Recuperar clave
            </button>
          --></form>
          <div class="text-center">
            <a
              href="{{ url_for('inicioCpanel') }}"
              class="d-flex align-items-center justify-content-center">
              <i class="bx bx-chevron-left scaleX-n1-rtl bx-sm"></i>
              volver
            </a>
          </div>
        </div>
      </div>
      <!-- /Forgot Password -->
    </div>
  </div>
</div>

{% endblock %}
